<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198892425076-agglq11273fogc9id286g0op2lcbvabm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198892425076-agglq11273fogc9id286g0op2lcbvabm</string>
	<key>API_KEY</key>
	<string>AIzaSyDGxHIwYxY3xEl6S8WmmnaGtmm-jCeyqcE</string>
	<key>GCM_SENDER_ID</key>
	<string>198892425076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.formValidationWithBloc</string>
	<key>PROJECT_ID</key>
	<string>fir-authandroid-26c49</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authandroid-26c49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198892425076:ios:13445b4dadb88d940a2621</string>
</dict>
</plist>